In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Using the test_split funciton to split the dataset into training and testing datasets
from sklearn.model_selection import train_test_split # splits the dataset into traiing and testing sets
from sklearn.preprocessing import StandardScaler # standardizes the features by removing the mean and scaling them to unit variance
from sklearn.ensemble import RandomForestClassifier # a machine learning model that builds multiple decesion trees and merges them together to get a more accurate and stable prediciotn

In [14]:
# Loading the dataframe: 

df = pd.read_csv("heart-disease.csv")
df.shape

(303, 14)

In [12]:
# Preprocessing the data: 

X = df.drop('target', axis=1) # dropping the target variable from axis 1 and having X as Capital is a conveintion while y should be lowercase
# X is containing all the patient attributes or features except target
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [16]:
y = df['target'] # containing the target variable which has been dropped on X
# contaings the outcome we want to predict
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [17]:
# Splittng the data into 4 variables where
# X_train is a subset of X containing 80% of the data for training 
# X_test is a subset of X containing 20% of the data for testing
# y_train is a subset of y containing 80% of the data for training 
# y_test is a subset of y containing 20% of the data for testing 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=56)

In [19]:
f"""
X_Train: {X_train}
X_Test: {X_test}
y_Train: {y_train}
y_Test: {y_test}
"""

'\nX_Train:      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \\\n78    52    1   1       128   205    1        1      184      0      0.0   \n246   56    0   0       134   409    0        0      150      1      1.9   \n298   57    0   0       140   241    0        1      123      1      0.2   \n239   35    1   0       126   282    0        0      156      1      0.0   \n197   67    1   0       125   254    1        1      163      0      0.2   \n..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...   \n233   64    1   0       120   246    0        0       96      1      2.2   \n142   42    0   2       120   209    0        1      173      0      0.0   \n122   41    0   2       112   268    0        0      172      1      0.0   \n235   51    1   0       140   299    0        1      173      1      1.6   \n192   54    1   0       120   188    0        1      113      0      1.4   \n\n     slope  ca  thal  \n78       2   0     2  \n246      1   2     3  \n298      1   0     3  \n239      2   0     3  \n197      1   2     3  \n..     ...  ..   ...  \n233      0   1     2  \n142      1   0     2  \n122      2   0     2  \n235      2   0     3  \n192      1   1     3  \n\n[242 rows x 13 columns]\nX_Test:      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \\\n81    45    1   1       128   308    0        0      170      0      0.0   \n168   63    1   0       130   254    0        0      147      0      1.4   \n137   62    1   1       128   208    1        0      140      0      0.0   \n242   64    1   0       145   212    0        0      132      0      2.0   \n2     41    0   1       130   204    0        0      172      0      1.4   \n..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...   \n202   58    1   0       150   270    0        0      111      1      0.8   \n26    59    1   2       150   212    1        1      157      0      1.6   \n219   48    1   0       130   256    1        0      150      1      0.0   \n243   57    1   0       152   274    0        1       88      1      1.2   \n138   57    1   0       110   201    0        1      126      1      1.5   \n\n     slope  ca  thal  \n81       2   0     2  \n168      1   1     3  \n137      2   0     2  \n242      1   2     1  \n2        2   0     2  \n..     ...  ..   ...  \n202      2   0     3  \n26       2   0     2  \n219      2   2     3  \n243      1   1     3  \n138      1   0     1  \n\n[61 rows x 13 columns]\ny_Train: 78     1\n246    0\n298    0\n239    0\n197    0\n      ..\n233    0\n142    1\n122    1\n235    0\n192    0\nName: target, Length: 242, dtype: int64\ny_Test: 81     1\n168    0\n137    1\n242    0\n2      1\n      ..\n202    0\n26     1\n219    0\n243    0\n138    1\nName: target, Length: 61, dtype: int64\n'